
.homeGridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 Spalten */
    gap: 4em; /* Abstand zwischen den Items */
    padding: 1em; /* Abstand zum Rand des Grids */

    .cardContainer{
        box-shadow: 5px 5px 5px 5px rgb(153, 150, 150);
        border-radius: 5px;
        border: 1px solid black;
        background-color: #958787;
        padding: 1em;

        .cardPicture {
            width: 40%;
        }

        .cardBody{
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-rows: 1fr 250px 1fr;

            .courseTitle {
                font-size: 2rem;
                padding: 1rem;
                margin: 0 auto;
                height: 10%;
            }

            .courseDescription{
                font-size: 1rem;
                padding: 1rem;
                margin: 0 auto;
                overflow-y: auto;
            }

            .AddToCartBtn{
                border: solid;
                border-radius: 5px;
                margin:  2rem auto;
                padding: 1rem;
                width: calc(100% - 1rem);
                text-align: center;
            }
        }
    }
}

