.cartContainer {
  border: solid;
  border-collapse: collapse;
  padding: 2rem;

  td,
  th {
    border: 1px solid black;
    padding: 10px;
  }

  // .tableRow {
  //     padding: 1rem;
  //     margin: 1rem;
  // }

  // .tableDataCell {
  //     padding: 1rem;
  //     margin: 1rem;
  // }
}
