

.CreateCourse{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: solid;
    box-shadow: 5px 5px 5px 5px rgb(153, 150, 150);
    border-radius: 5px;
    padding: 0.5rem;
}