.coursePreviewContainer {
    color: white;
    display: grid;

    grid-template:
        "a a d" 1fr
        "b b d" 1fr
        "c c d" 1fr / 1fr 1fr 1fr;

    gap: 1.5rem;

    button {
        border: 2px solid white;
        width: fit-content;
        border-radius: 10px;
        margin: 1rem;
        padding: 0.4rem;
    }

    .sidebar {
        .profileForm {
            display: flex;
            flex-direction: column;
            border: 1px solid white;

            margin: 1rem;
            padding: 1rem;

            button {
                margin: 0.5rem auto;
            }
        }

        .profileForm label {
            margin-top: 1rem;
        }
    }

    .coursePreview {
        border: 1px solid white;
        padding: 20px;

        .innerCourseContainer {
            border: 1px solid white;
            padding: 1rem;

            li {
                display: flex;
                justify-content: space-between;
                border: 1px solid white;
                align-items: center;
                padding-left: 1rem;
            }
        }
    }

    .section1 {
        grid-area: a;
        border: solid red;
    }

    .section2 {
        grid-area: b;
    }

    .sidebar {
        border: 1px solid white;
        padding: 20px;
        grid-area: d;
    }
}

//! Admin

.adminViewContainer {
    color: white;
    min-height: 700px;
    display: grid;

    grid-template:
        " a b d" 80px
        " c c d" 1fr
        " c c d" 1fr / 1fr 1fr 1fr;

    gap: 1.5rem;

    h1 {
        text-align: center;
    }

    .userSection {
        border: solid 1px;
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .courseSection {
        border: solid 1px;
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form {
        height: 75px;
        padding: 0.5rem 2rem;
        display: flex;
        justify-content: space-between;
    }

    input {
        width: auto;
        border: solid 1px;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem;
        color: black;
    }

    button,
    select {
        border: solid 1px;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: blue;
        color: aliceblue;
        font-weight: 600;
    }

    .resultSection {
        grid-area: c;
        width: 100%;
        border: solid 1px;

        h1 {
            margin-top: 1rem;
            font-weight: 800;
            font-size: 1.5rem;
        }

        .resultList {
            margin: 1rem;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: larger;
                padding: 1rem 2rem;
                border-top: solid 1px;
                border-bottom: solid 1px;

                p {
                    margin: 0.2rem;
                }

                .role {
                    font-weight: 600;
                }

                .selectForm {
                    border: solid 1px;
                    border-radius: 5px;
                }
            }
        }
    }
}

//! Creator

.creatorDashboardContainer {
    display: grid;

    grid-template:
        "a a d" 1fr
        "b b d" 1fr
        "c c d" 1fr / 1fr 1fr 0.5fr;

    gap: 1.5rem;

    .section1 {
        grid-area: a;
        border: solid red;
    }

    .section2 {
        grid-area: b;
    }
}

@media only screen and (max-width: 767px) {
    .coursePreviewContainer {
        display: block;

        .section1 {
            order: 1;
        }

        .section2 {
            order: 2;
        }

        .sidebar {
            order: 3;
        }
    }

    .adminViewContainer {
        grid-template:
            " a " auto
            " b " auto
            " c " 1fr
            " c " 1fr / 1fr;

        .userSection {
            order: 1;
        }

        .courseSection {
            order: 2;
        }

        .resultSection {
            order: 3;
        }
    }

    .creatorDashboardContainer {
        grid-template:
            "a d" 1fr
            "b d" 1fr
            "c d" 1fr / 1fr 0.5fr;

        .section1 {
            order: 1;
        }

        .section2 {
            order: 2;
        }

        .sidebar {
            order: 3;
        }
    }
}

.userSection {
    form {
        button[type="submit"] {
            width: 150px;
        }
    }
}

.courseSection {
    form {
        button[type="submit"] {
            width: 150px;
        }
    }
}

@media (min-width: 768px) and (max-width: 920px) {
    .coursePreviewContainer {
        grid-template:
            "a a d" 1fr
            "b b d" 1fr
            "c c d" 1fr / 1fr 1fr 1fr;

        .sidebar {
            .profileForm {
                button {
                    margin: 0.5rem;
                }
            }
        }

        .coursePreview {
            .innerCourseContainer {
                li {
                    padding-left: 0;
                    justify-content: space-around;
                    flex-direction: column;
                }
            }
        }
    }

    .creatorDashboardContainer {
        grid-template:
            "a a d" 1fr
            "b b d" 1fr
            "c c d" 1fr / 1fr 1fr 0.5fr;

        .section1 {
            border: none;
        }
    }

    .userSection {
        form {
            button[type="submit"] {
                width: 150px;
            }
        }
    }

    .courseSection {
        form {
            button[type="submit"] {
                width: 150px;
            }
        }
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    .coursePreviewContainer {
        grid-template:
            "a a d" 1fr
            "b b d" 1fr
            "c c d" 1fr / 1fr 1fr 1fr;
    }

    .adminViewContainer {
        grid-template:
            " a b " 80px
            " c c " 1fr
            " c c " 1fr / 1fr 1fr;

        .resultSection {
            .resultList {
                li {
                    padding: 1rem;
                }
            }
        }
    }

    .creatorDashboardContainer {
        grid-template:
            "a a d" 1fr
            "b b d" 1fr
            "c c d" 1fr / 1fr 1fr 0.5fr;
    }
}

.userSection {
    form {
        button[type="submit"] {
            width: 150px;
        }
    }
}

.courseSection {
    form {
        button[type="submit"] {
            width: 150px;
        }
    }
}
