@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    letter-spacing: 1.2px;
}

body {
    background-color: rgb(240, 229, 229);

    // font-family: "Roboto", sans-serif;
}

.CreatorPage {
    /* Stile für das Modal */
    /* Stile für das Modal */


    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modalContent {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        width: 75%;
        max-width: 700px;
    }

    .modalContent h2 {
        margin-bottom: 20px;
    }

    .modalButtons {
        padding: 2rem;

        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        select {
            padding: 0.5rem;
        }
    }

    .modalButtons button {
        border: solid 1px;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-left: 10px;
    }

    /* Stile für den Kalender */
    .react-calendar {
        width: 100%;
        max-width: 100%;
        font-family: Arial, sans-serif;
        border: none;
    }

    .react-calendar__tile {
        background-color: #f0f0f0;
        border: none;
    }

    .react-calendar__tile--now {
        background-color: #d0e6f5;
    }

    .react-calendar__tile--active {
        background-color: #a0c6e2;
        color: #fff;
    }

    .innerContainer {
        height: 100vh;

        scroll-snap-align: start;

        .imageContainer {
            float: left;
            margin: 1.5rem 1.5rem 0.5rem 1.5rem;

            img {
                border-radius: 5px;
            }
        }

        .textContainer {
            text-align: justify;
            padding: 5rem;

            line-height: 2rem;
            font-weight: 500;

            color: #ffffff;

            strong {
                color: rgb(38, 37, 37);
            }

            .test {
                font-size: 3rem !important;
            }
        }
    }

    .outerCourseContainer {
        height: 100vh;

        scroll-snap-align: end;
        display: flex;

        .creatorCourseContainer {
            background-color: #d8dbe3;
            padding: 2rem;
            margin: 2rem;

            .titleFavorite {
                display: flex;
                justify-content: space-between;
            }

            .meetingBookBtn {
                border: solid 1px;
                border-radius: 5px;
                background-color: #008cba;
                padding: 1rem;
                margin: 1rem;
            }
        }
    }
}

//!Header
.nav {
    position: sticky;
    top: 0;
    background-color: rgba(63, 128, 238, 0.9);
    color: rgb(251, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    z-index: 9999;

    margin: 0 3rem;

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li.active {
            background-color: red;

            text-decoration: none;
            text-decoration-color: red;
        }

        li:hover {
            /*             background-color: yellow;
 */
            text-decoration: none;
            text-decoration-color: #838181;
            text-decoration-thickness: 3px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        padding: 0.25rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .controls button {
        gap: 1rem;
        padding: 1rem;
    }
}

.cartAnchor {
    position: relative;
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: 0.25rem;

    .cartBadge {
        position: absolute;
        text-align: center;
        font-size: 0.9rem;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        background-color: rgb(230, 33, 33);
        border-radius: 50%;
    }
}

//!Layout
.layout {
    // padding:  1rem calc(0em + 33.33vw / 3);
    padding: 0.5rem 3rem;
    height: max-content;
}

.dozentenContainer {
    grid-area: b;

    // width: 500px;
    margin: 0 auto;
}

.container {
    height: 100%;
    // max-width: 124rem;

    width: 100% !important;
}

.heading {
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
}

.swiper_container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    // border: solid blue ;
}

.swiper-slide {
    position: relative;

    width: fit-content;

    // border: solid green ;
}

@media (max-width: 500px) {
    // .swiper_container {
    //   height: 47rem;
    // }
    // .swiper-slide {
    //   width: 28rem !important;
    //   height: 36rem !important;
    // }
    // .swiper-slide img {
    //   width: 28rem !important;
    //   height: 36rem !important;
    // }
}

// .swiper-slide img {
//   width: 37rem;
//   height: 42rem;
//   border-radius: 2rem;
//   object-fit: cover;
// }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.swiper-wrapper {
    width: auto;
}

.slider-controler {
    width: 40%;
    margin: auto;

    bottom: 60px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 90% !important;
    transform: translateX(-90%) !important;
}

.slider-controler .swiper-button-prev {
    left: 10% !important;
    transform: translateX(-10%) !important;
}

.arrow-icon {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    opacity: 80%;
    color: #1b1bec;

    background-color: rgb(249, 243, 243);
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    position: relative;
    margin-top: 1 rem;
    width: 80px !important;
}

.courseSwiperSlide {
    width: 350px;

    background-color: #fff;

    border-radius: 5px;

    padding: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(241, 241, 242, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: rgb(248, 246, 246);
}

.card {
    border: solid 1px #2c5ee2;

    width: 422px;
    transition: transform 0.5s ease-in-out;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;

    height: 650px;

    // -webkit-box-shadow: -14px 14px 20px -7px rgba(128, 128, 128, 0.79);
    // -moz-box-shadow: -14px 14px 20px -7px rgba(128, 128, 128, 0.79);
    // box-shadow: -14px 14px 20px -7px rgba(128, 128, 128, 0.79);

    margin-bottom: 20px;
    margin: 0.5rem;

    padding: 0 5rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2.5rem 0rem 0rem 0rem;
    background-color: #fff;
    color: #070ee2;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.card-image-container {
    flex: 1;
}

.card-image {
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.descriptionContainer {
    margin: 1.5rem 0rem 0.5rem 0rem;
    width: 110%;
    color: #4a5568;
}

.card-buttons-container {
    flex: 1;
}

.card-button {
    padding: 10px;
    margin: 0.5rem 0;
    background-color: #fff;
    color: #070ee2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

// .card-button:hover {
//     background-color: #164eaf;
// }

.card-button--view-courses {
    background-color: #fff;
    color: #4a5568;
    border: 2px solid #4a5568;
}

.card-button--view-courses:hover {
    background-color: #0f55cd;
    color: #fff;
}

.card-image-container:hover .card-image {
    transform: scale(1.05);
}

.card-button:hover {
    background-color: #3f80ee;
    color: rgb(252, 252, 252);
}

.coursePageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    .courseContainer {
        border: solid rgb(255, 255, 255, 0.3);
        position: relative;

        height: 900px;

        background-color: rgb(255, 255, 255, 0.5);

        .courseHeader {
            display: flex;
            justify-content: space-between;
            height: 170px;


            h2 {
                margin: 1.6rem;
                padding: 1rem;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
            }

            img {
                margin: 1.5rem 1.5rem 0rem 0rem;
                border: solid rgb(255, 255, 255, 0.3);
                border-radius: 50%;

                width: 25%;
                aspect-ratio: 1/1;
            }

            #creatorCardPicture {
                position: absolute;

                top: 90px;
                right: 0px;
                width: 60px;
                aspect-ratio: 1/1;
            }
        }

        .courseBody {
            margin: 1rem;
            padding: 1rem;
            color: white;
            height: 430px;

            overflow-y: auto;


            p {
                font-size: 1.35rem;
            }

            // background-color: rgb(255, 255, 255, 0.4);
        }

        .courseFooter {
            margin: 1rem;
            padding: 1rem;
            color: rgb(20, 18, 18) ;

            



            background-color: rgb(255, 255, 255, 0.4);

            p {
                font-size: 1.5rem;

            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;

    .kontakt {
        display: flex;
        justify-content: start;
        align-content: center;
    }
}

#dozentenCard{
    height: fit-content;
}

.kontaktadresse {
    color: white;
    margin-top: 2rem;

    p,
    u {
        font-size: 1.5rem;
    }
}

/* Hauptcontainer */
.form-container {
    width: 600px;
    height: fit-content;
    margin: 3rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 1rem 1rem 1rem;
}

/* Formularelemente */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-container textarea {
    height: 100px;
}

/* Submit-Button */
.form-container button {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: blue;
}

/* Fehlermeldung */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
