@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: rgb(240, 229, 229);
    font-family: "Roboto", sans-serif;
}

//!Header
.nav {
    background-color: #fdfdfd00;
    color: rgb(251, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li.active {
            background-color: red;

            text-decoration: none;
            text-decoration-color: red;
        }

        li:hover {
            /*             background-color: yellow;
 */
            text-decoration: none;
            text-decoration-color: #838181;
            text-decoration-thickness: 3px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        padding: 0.25rem;
    }

    .site-title img {
        font-size: 0rem;
        margin: -1rem 2rem;
    }

    .img {
        background-color: #fdfdfd30;
        color: rgba(251, 247, 247, 0.099);
    }

    .controls button {
        gap: 1rem;
        padding: 1rem;
    }
}

.cartAnchor {
    position: relative;
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: 0.25rem;

    .cartBadge {
        position: absolute;
        text-align: center;
        font-size: 0.9rem;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        background-color: rgb(230, 33, 33);
        border-radius: 50%;
    }
}

//!Layout
.layout {
    padding: 2rem calc(1em + 33.33vw / 3);
    height: fit-content;
}

.dozentenContainer {
    grid-area: b;

    // width: 500px;
    height: 500px;
    margin: 0 auto;
}

.container {
    height: 100%;
    // max-width: 124rem;

    width: 100% !important;

    border: solid #eb3223 ;
}



.heading {
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;


}

.swiper_container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    // border: solid blue ;



    

}

.swiper-slide {
    position: relative;

    width: fit-content;

    // border: solid green ;

}

@media (max-width: 500px) {
    // .swiper_container {
    //   height: 47rem;
    // }
    // .swiper-slide {
    //   width: 28rem !important;
    //   height: 36rem !important;
    // }
    // .swiper-slide img {
    //   width: 28rem !important;
    //   height: 36rem !important;
    // }
}

// .swiper-slide img {
//   width: 37rem;
//   height: 42rem;
//   border-radius: 2rem;
//   object-fit: cover;
// }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.swiper-wrapper{
    width: auto;

}

.slider-controler {
    width: 40%;
    margin: auto;

    bottom: 60px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

.slider-controler .swiper-button-next {
    left: 90% !important;
    transform: translateX(-90%) !important;

}

.slider-controler .swiper-button-prev {
    left: 10% !important;
    transform: translateX(-10%) !important;
}



.arrow-icon {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    opacity: 80%;
    color: #f2f2f6;

    background-color: grey;
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    position: relative;
    margin-top: 1 rem;
    width: 80px !important;
}

.courseSwiperSlide {
    width: 300px;

    border: solid blue;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(241, 241, 242, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: rgb(248, 246, 246);
}

.card {
    width: 422px;
    transition: transform 0.5s ease-in-out;
    background-color: #f5f5f5;
    border-radius: 15px;

    -webkit-box-shadow: -14px 14px 20px -7px rgba(128,128,128,0.79);
    -moz-box-shadow: -14px 14px 20px -7px rgba(128,128,128,0.79);
    box-shadow: -14px 14px 20px -7px rgba(128,128,128,0.79);

    margin-bottom: 20px;
    margin: 0.5rem;

    padding: 0 5rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #385ea0;
    color: #fff;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.card-image-container {
    flex: 1;
}

.card-image {
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card-buttons-container {
    flex: 1;
}

.card-button {
    padding: 10px;
    margin: 0.5rem 0;
    background-color: #4080ee;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #2d3748;
}

.card-button--view-courses {
    background-color: #fff;
    color: #4a5568;
    border: 2px solid #4a5568;
}

.card-button--view-courses:hover {
    background-color: #4a5568;
    color: #fff;
}

.card-image-container:hover .card-image {
    transform: scale(1.05);
}

.card-button:hover {
    background-color: #008cba;
    color: #fff;
}

//!Footer

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0rem;
    background-color: #fdfdfd84;
    position: absolute;
    top: auto;
    width: 100%;

    p {
        margin: 2rem;
        color: #324c85;
    }

    //LOGO CUSTOMER
    .grayscale {
        filter: grayscale(100%);
    }

    .containerlogo {
        padding: 25px 25px;
        display: flex;
        img {
            width: 100px;
            height: 20px;
        }
    }

    .social-container {
        display: flex;
        justify-content: center;
        padding: 25px 50px;
        background-color: #fdfdfd84;
    }

    .shortcuts {
        display: flex;
        justify-content: center;
    }

    a.social {
        margin: 0 1rem;
        transition: transform 250ms;
    }

    a.social:hover {
        transform: translateY(-2px);
    }

    a.youtube {
        color: #eb3223;
    }

    a.facebook {
        color: #4968ad;
    }

    a.linkedin {
        color: #184bba;
    }

    a.twitter {
        color: #49a1eb;
    }

    a.instagram {
        color: black;
    }
}
