@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: rgb(165, 159, 151);
}

//!Header

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;

    ul{
        display: flex;
        align-items: center;
        gap: 1rem;

        li.active {
            background-color: red;
        
            text-decoration: underline;
            text-decoration-color: red;
        }

        li:hover {
/*             background-color: yellow;
 */        
            text-decoration: underline;
            text-decoration-color: #777;
            text-decoration-thickness: 3px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        padding: 0.25rem;
    }

    .site-title {
        font-size: 2rem;
    }

    .controls button{
        gap: 1rem;
        padding: 1rem;
    }
}

//!Layout
.layout{
    padding: 2rem calc(1em + 33.33vw/3);
}

//!Footer
.footer{
    display: flex;
    justify-content: center;
    margin: 2rem;

    p{
        margin: 2rem;
    }
}



/* ! grosse Bildschirme */
/* Fuer 4K-Bildschirme */
@media (min-width: 3840px) {
        /* Ihre CSS-Regeln hier */

}
  
/* Fuer Ultrawide-Bildschirme */
@media (min-width: 3440px) {
    /* Ihre CSS-Regeln hier */

}

/* ! Monitore */

/* Fuer kleine Monitore */
@media (min-width: 1280px) and (max-width: 1439px) {
    /* Ihre CSS-Regeln hier */
    

}
  
/* Fuer mittelgrosse Monitore */
@media (min-width: 1440px) and (max-width: 1679px) {
    /* Ihre CSS-Regeln hier */

}
  
/* Fuer grosse Monitore */
@media (min-width: 1680px) {

}

/* ! Tablets */

/* Fuer kleine Tablets */
@media (min-width: 600px) and (max-width: 767px) {
    /* Ihre CSS-Regeln hier */

}
  
/* Fuer mittelgrosse Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    /* Ihre CSS-Regeln hier */

}
  
/* Fuer grosse Tablets */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Ihre CSS-Regeln hier */

}

/* ! Mobilgeraete */

/* Fuer Smartphones */
@media (max-width: 480px) {
    /* Ihre CSS-Regeln hier */

}
  
/* Fuer Phablets */
@media (min-width: 481px) and (max-width: 767px) {
    /* Ihre CSS-Regeln hier */

}






